@page "/Estudiante/Edit/{EstudianteId:int}"

@inject EstudiantesService EstudiantesService
@inject NavigationManager navigationManager

@*HTML*@
<PageTitle>Modificar</PageTitle>
<EditForm Model="Estudiante" OnValidSubmit="Modificar" FormName="editarEstudiante">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Modificar Estudiante</h5>
            </div>

            <div class="card-body">
                @*Input Hidden*@
                <input type="hidden" name="Estudiante.EstudianteId" value="@Estudiante.EstudianteId" />
                @*Nombres*@
                <div class="mb-3">
                    <label class="form-label"><strong>Nombres</strong></label>
                    <InputText class="form-control" @bind-Value="Estudiante.Nombres"></InputText>
                    <ValidationMessage For="(() => Estudiante.Nombres)" />
                    @*Nombre duplicado error*@
                    @if (!string.IsNullOrEmpty(ErrorNombreDuplicado))
                    {
                        <div class="text-danger validation-message">@ErrorNombreDuplicado</div>
                    }
                </div>
                @*Email*@
                <div class="mb-3">
                    <label class="form-label"><strong>Email</strong></label>
                    <InputText class="form-control" @bind-Value="Estudiante.Email"></InputText>
                    <ValidationMessage For="(() => Estudiante.Email)" />
                </div>
                @*Edad*@
                <div class="mb-3">
                    <label class="form-label"><strong>Edad</strong></label>
                    <InputNumber class="form-control" @bind-Value="Estudiante.Edad"></InputNumber>
                    <ValidationMessage For="(() => Estudiante.Edad)" />
                </div>
            </div>

            @*footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Estudiante/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Modificar</button>
                <button type="button" class="btn btn-danger bi bi-trash" @onclick="Eliminar"> Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Estudiantes Estudiante { get; set; } = new Estudiantes();

    [Parameter]
    public int EstudianteId { get; set; }
    public string Mensaje { get; set; } = string.Empty;
    public string ErrorNombreDuplicado = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Estudiante == null || Estudiante.EstudianteId == 0)
        {
            Estudiante = await EstudiantesService.Buscar(EstudianteId);
        }
    }

    public async Task Modificar()
    {
        bool existeNombres = await EstudiantesService.ExisteNombres(Estudiante.Nombres, EstudianteId);

        if (existeNombres)
        {
            Console.WriteLine("\nEste nombre ya existe en el sistema: " + Estudiante.Nombres + "\n");
            ErrorNombreDuplicado = "El nombre \"" + Estudiante.Nombres + "\" ya está en uso.";
            return;
        }
        else
        {
            Console.WriteLine("\nEste nombre valido: " + Estudiante.Nombres + "\n");
            ErrorNombreDuplicado = string.Empty;
        }

        var creado = await EstudiantesService.Guardar(Estudiante);

        Console.WriteLine("\nNombres:" + Estudiante.Nombres);
        Console.WriteLine("Email: " + Estudiante.Email + "\n");

        if (creado)
        {
            //toastService.ShowSuccess("Se ha modificado correctamente");
            navigationManager.NavigateTo("/Estudiante/Index");
        }
        else
        {
            //toastService.ShowError("No se ha podido modificar correctamente");
        }
    }

    private async Task Eliminar()
    {
        Console.WriteLine("\nSe intenta eliminar el estudiante " + Estudiante.EstudianteId + "\n");
        var eliminado = await EstudiantesService.Eliminar(Estudiante.EstudianteId);

        if (eliminado)
        {
            //toastService.ShowSuccess("Se ha eliminado correctamente");
            navigationManager.NavigateTo("/Estudiante/Index");
        }
        else
        {
            //toastService.ShowError("No se ha podido eliminar correctamente");
        }
    }
}